.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    vertical-align: middle;
}
.tonal-elevation-1 {
    box-shadow: 0px 2px 4px rgba(15, 23, 42, 0.04), 0px 4px 8px rgba(15, 23, 42, 0.02);
}
.tonal-elevation-2 {
    box-shadow: 0px 10px 15px -3px rgba(15, 23, 42, 0.08);
}
.mask-gradient {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
